$bg-color: #fff;
$text-color: #1f2937;

$primary-color: #3b82f6;
$primary-hover-color: #2563eb;
$danger-color: #ef4444;
$danger-hover-color: #dc2626;
$success-color: #22c55e;
$success-hover-color: #16a34a;

$simple-color: #fff;
$simple-hover-color: #f9fafb;

$scroll-color: #d1d5db;
$btn-text-color: #fff;

$border-color: rgb(229, 231, 235);
$border-radius: 0.5rem;
$border-width: 1px;

$text-xs: 0.75rem;
$text-sm: 0.875rem;
$text-lg: 1.125rem;
$text-xl: 1.25rem;
$text-2xl: 1.5rem;
$text-3xl: 1.875rem;
$text-4xl: 2.25rem;
$text-6xl: 3.75rem;
